<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<h1>Welcome to My Shop CRUD</h1>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/category/crud" >Category CRUD</a>
</button>
<br/>
<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/product/crud" >Product CRUD</a></button>
</body>
</html>