<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <table class="table">
        <div class="alert alert-primary" th:text="${message}">
        </div>
        <tr class="table-dark">
          <th>Name</th>
        </tr>
        <tr th:each="category:${categoryList}">
          <td th:text="${category.getName()}"></td>

        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>